In [1]:
import numpy as np
import pandas as pd

In [7]:
# Hourly data for 2020
data = np.loadtxt(r"C:\Users\natal\OneDrive\Documents\GitHub\DWLadies\Stampfenbachstrasse_107-hour 2020.dat", delimiter=',')
df2020 = pd.DataFrame(data, columns=["year", "month", "day", "hour", "solarradiation", 
                                   "temperature", "relativehumidityhc", "precipitation", 
                                  "windspeedultrasonic", "winddirultrasonic"])
df2020

,year,month,day,hour,solarradiation,temperature,relativehumidityhc,precipitation,windspeedultrasonic,winddirultrasonic
0,2020.0,1.0,1.0,1.0,0.0,-1.2,91.0,0.0,0.4,216.0
1,2020.0,1.0,1.0,2.0,0.0,-1.2,88.0,0.0,0.7,226.0
2,2020.0,1.0,1.0,3.0,0.0,-1.2,86.0,0.0,0.7,172.0
3,2020.0,1.0,1.0,4.0,0.0,-1.2,85.0,0.0,0.9,160.0
4,2020.0,1.0,1.0,5.0,0.0,-1.1,85.0,0.0,1.0,129.0
...,...,...,...,...,...,...,...,...,...,...
8779,2020.0,12.0,31.0,20.0,0.0,1.1,93.0,0.4,1.0,195.0
8780,2020.0,12.0,31.0,21.0,0.0,1.0,93.0,0.3,0.5,210.0
8781,2020.0,12.0,31.0,22.0,0.0,0.7,92.0,0.1,0.4,123.0
8782,2020.0,12.0,31.0,23.0,0.0,0.0,92.0,0.1,0.3,96.0
8783,2020.0,12.0,31.0,24.0,0.0,0.2,91.0,0.1,0.4,289.0

In [8]:
# Hourly data for 2021
data = np.loadtxt(r"C:\Users\natal\OneDrive\Documents\GitHub\DWLadies\Stampfenbachstrasse_107-hour 2021.dat", delimiter=',')
df2021 = pd.DataFrame(data, columns=["year", "month", "day", "hour", "solarradiation", 
                                   "temperature", "relativehumidityhc", "precipitation", 
                                  "windspeedultrasonic", "winddirultrasonic"])
df2021

,year,month,day,hour,solarradiation,temperature,relativehumidityhc,precipitation,windspeedultrasonic,winddirultrasonic
0,2021.0,1.0,1.0,1.0,0.0,0.3,91.0,0.3,0.7,267.0
1,2021.0,1.0,1.0,2.0,0.0,0.5,91.0,0.3,1.1,272.0
2,2021.0,1.0,1.0,3.0,0.0,0.5,92.0,0.3,1.1,273.0
3,2021.0,1.0,1.0,4.0,0.0,0.7,89.0,0.2,1.0,275.0
4,2021.0,1.0,1.0,5.0,0.0,0.8,90.0,0.1,0.7,284.0
...,...,...,...,...,...,...,...,...,...,...
8755,2021.0,12.0,31.0,20.0,0.0,6.5,86.0,0.0,1.9,228.0
8756,2021.0,12.0,31.0,21.0,0.0,6.0,85.0,0.0,2.0,217.0
8757,2021.0,12.0,31.0,22.0,0.0,5.1,89.0,0.0,1.5,251.0
8758,2021.0,12.0,31.0,23.0,0.0,4.8,87.0,0.0,1.4,237.0
8759,2021.0,12.0,31.0,24.0,0.0,3.8,93.0,0.0,1.1,242.0

In [9]:
# Hourly data for 2022
data = np.loadtxt(r"C:\Users\natal\OneDrive\Documents\GitHub\DWLadies\Stampfenbachstrasse_107-hour 2022.dat", delimiter=',')
df2022 = pd.DataFrame(data, columns=["year", "month", "day", "hour", "solarradiation", 
                                   "temperature", "relativehumidityhc", "precipitation", 
                                  "windspeedultrasonic", "winddirultrasonic"])
df2022

,year,month,day,hour,solarradiation,temperature,relativehumidityhc,precipitation,windspeedultrasonic,winddirultrasonic
0,2022.0,1.0,1.0,1.0,0.0,3.1,96.0,0.0,1.2,228.0
1,2022.0,1.0,1.0,2.0,0.0,3.0,97.0,0.0,1.2,242.0
2,2022.0,1.0,1.0,3.0,0.0,2.9,94.0,0.0,1.0,299.0
3,2022.0,1.0,1.0,4.0,0.0,2.2,96.0,0.0,0.8,293.0
4,2022.0,1.0,1.0,5.0,0.0,1.1,100.0,0.0,0.6,248.0
...,...,...,...,...,...,...,...,...,...,...
8755,2022.0,12.0,31.0,20.0,0.0,9.8,78.0,0.0,1.5,196.0
8756,2022.0,12.0,31.0,21.0,0.0,9.0,79.0,0.0,1.3,192.0
8757,2022.0,12.0,31.0,22.0,0.0,8.4,80.0,0.0,1.3,188.0
8758,2022.0,12.0,31.0,23.0,0.0,8.6,79.0,0.0,1.6,197.0
8759,2022.0,12.0,31.0,24.0,0.0,10.5,69.0,0.0,1.7,212.0

In [10]:
# Hourly data for 2023
data = np.loadtxt(r"C:\Users\natal\OneDrive\Documents\GitHub\DWLadies\Stampfenbachstrasse_107-hour 2022 2023.dat", delimiter=',')
df2223 = pd.DataFrame(data, columns=["year", "month", "day", "hour", "solarradiation", 
                                   "temperature", "relativehumidityhc", "precipitation", 
                                  "windspeedultrasonic", "winddirultrasonic"])
df2223

,year,month,day,hour,solarradiation,temperature,relativehumidityhc,precipitation,windspeedultrasonic,winddirultrasonic
0,2023.0,1.0,1.0,1.0,0.0,9.3,73.0,0.0,1.5,209.0
1,2023.0,1.0,1.0,2.0,0.0,11.0,65.0,0.0,1.4,202.0
2,2023.0,1.0,1.0,3.0,0.0,11.6,63.0,0.0,1.3,192.0
3,2023.0,1.0,1.0,4.0,0.0,10.7,67.0,0.0,1.2,208.0
4,2023.0,1.0,1.0,5.0,0.0,9.8,71.0,0.0,1.2,213.0
...,...,...,...,...,...,...,...,...,...,...
8755,2022.0,12.0,31.0,20.0,0.0,9.8,78.0,0.0,1.5,196.0
8756,2022.0,12.0,31.0,21.0,0.0,9.0,79.0,0.0,1.3,192.0
8757,2022.0,12.0,31.0,22.0,0.0,8.4,80.0,0.0,1.3,188.0
8758,2022.0,12.0,31.0,23.0,0.0,8.6,79.0,0.0,1.6,197.0
8759,2022.0,12.0,31.0,24.0,0.0,10.5,69.0,0.0,1.7,212.0

In [11]:
# retrieve only data from 2023 in df2023
df2023 = df2223.groupby(["year"]).get_group(2023)
df2023

,year,month,day,hour,solarradiation,temperature,relativehumidityhc,precipitation,windspeedultrasonic,winddirultrasonic
0,2023.0,1.0,1.0,1.0,0.0,9.3,73.0,0.0,1.5,209.0
1,2023.0,1.0,1.0,2.0,0.0,11.0,65.0,0.0,1.4,202.0
2,2023.0,1.0,1.0,3.0,0.0,11.6,63.0,0.0,1.3,192.0
3,2023.0,1.0,1.0,4.0,0.0,10.7,67.0,0.0,1.2,208.0
4,2023.0,1.0,1.0,5.0,0.0,9.8,71.0,0.0,1.2,213.0
...,...,...,...,...,...,...,...,...,...,...
2875,2023.0,4.0,30.0,20.0,3.0,14.6,65.0,0.3,1.3,45.0
2876,2023.0,4.0,30.0,21.0,0.0,14.1,67.0,0.5,1.4,28.0
2877,2023.0,4.0,30.0,22.0,0.0,13.6,69.0,0.5,1.2,6.0
2878,2023.0,4.0,30.0,23.0,0.0,12.9,75.0,0.9,0.7,48.0
2879,2023.0,4.0,30.0,24.0,0.0,12.2,79.0,0.9,0.8,327.0

In [12]:
# merge datasets
df1 = pd.merge_ordered(df2020, df2021)
df2 = pd.merge_ordered(df1, df2022)
df = pd.merge_ordered(df2, df2023)
df

,year,month,day,hour,solarradiation,temperature,relativehumidityhc,precipitation,windspeedultrasonic,winddirultrasonic
0,2020.0,1.0,1.0,1.0,0.0,-1.2,91.0,0.0,0.4,216.0
1,2020.0,1.0,1.0,2.0,0.0,-1.2,88.0,0.0,0.7,226.0
2,2020.0,1.0,1.0,3.0,0.0,-1.2,86.0,0.0,0.7,172.0
3,2020.0,1.0,1.0,4.0,0.0,-1.2,85.0,0.0,0.9,160.0
4,2020.0,1.0,1.0,5.0,0.0,-1.1,85.0,0.0,1.0,129.0
...,...,...,...,...,...,...,...,...,...,...
29179,2023.0,4.0,30.0,20.0,3.0,14.6,65.0,0.3,1.3,45.0
29180,2023.0,4.0,30.0,21.0,0.0,14.1,67.0,0.5,1.4,28.0
29181,2023.0,4.0,30.0,22.0,0.0,13.6,69.0,0.5,1.2,6.0
29182,2023.0,4.0,30.0,23.0,0.0,12.9,75.0,0.9,0.7,48.0
29183,2023.0,4.0,30.0,24.0,0.0,12.2,79.0,0.9,0.8,327.0

In [13]:
data = df

In [14]:
# convert to datetime
data['timestamp']= pd.to_datetime(data[['year', 'month', 'day', 'hour']], format = '%d/%m/%y %H:%M:%S.%f', exact = True)

In [15]:
# remove year month day and hour
df = data.drop(columns=['year', 'month', 'day', 'hour'])

In [16]:
# rearrange columns
cols = ["timestamp", "solarradiation", "temperature", 
        "relativehumidityhc", "precipitation", 
        "windspeedultrasonic", "winddirultrasonic"]
df = df[cols]
df

,timestamp,solarradiation,temperature,relativehumidityhc,precipitation,windspeedultrasonic,winddirultrasonic
0,2020-01-01 01:00:00,0.0,-1.2,91.0,0.0,0.4,216.0
1,2020-01-01 02:00:00,0.0,-1.2,88.0,0.0,0.7,226.0
2,2020-01-01 03:00:00,0.0,-1.2,86.0,0.0,0.7,172.0
3,2020-01-01 04:00:00,0.0,-1.2,85.0,0.0,0.9,160.0
4,2020-01-01 05:00:00,0.0,-1.1,85.0,0.0,1.0,129.0
...,...,...,...,...,...,...,...
29179,2023-04-30 20:00:00,3.0,14.6,65.0,0.3,1.3,45.0
29180,2023-04-30 21:00:00,0.0,14.1,67.0,0.5,1.4,28.0
29181,2023-04-30 22:00:00,0.0,13.6,69.0,0.5,1.2,6.0
29182,2023-04-30 23:00:00,0.0,12.9,75.0,0.9,0.7,48.0
29183,2023-05-01 00:00:00,0.0,12.2,79.0,0.9,0.8,327.0

In [18]:
# Round timestamp
df['timestamp'] = df['timestamp'].apply(lambda x: x.round(freq='H'))

In [19]:
df

,timestamp,solarradiation,temperature,relativehumidityhc,precipitation,windspeedultrasonic,winddirultrasonic
0,2020-01-01 01:00:00,0.0,-1.2,91.0,0.0,0.4,216.0
1,2020-01-01 02:00:00,0.0,-1.2,88.0,0.0,0.7,226.0
2,2020-01-01 03:00:00,0.0,-1.2,86.0,0.0,0.7,172.0
3,2020-01-01 04:00:00,0.0,-1.2,85.0,0.0,0.9,160.0
4,2020-01-01 05:00:00,0.0,-1.1,85.0,0.0,1.0,129.0
...,...,...,...,...,...,...,...
29179,2023-04-30 20:00:00,3.0,14.6,65.0,0.3,1.3,45.0
29180,2023-04-30 21:00:00,0.0,14.1,67.0,0.5,1.4,28.0
29181,2023-04-30 22:00:00,0.0,13.6,69.0,0.5,1.2,6.0
29182,2023-04-30 23:00:00,0.0,12.9,75.0,0.9,0.7,48.0
29183,2023-05-01 00:00:00,0.0,12.2,79.0,0.9,0.8,327.0

In [20]:
# save data in a file
df.to_csv("static_weather_data.csv", sep=',', index=False, encoding='utf-8')